/* ********************
Start Color-Bar
******************** */
nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  transform: translateY(-100%);
  transition: 0.4s;
  z-index: 999;
}

nav.open {
  transform: translateY(10px);
}

nav ul {
  position: relative;
  width: 300px;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  border-top: var(--border-top);
  border-radius: 25px;
}

nav ul li {
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  border-top: var(--border-top);
}

.style-switcher-toggler,
.dark-mode {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -60px;
  color: var(--text-color);
}

nav ul .style-switcher-toggler {
  left: 20px;
}
nav ul .dark-mode {
  right: 20px;
}


.color-1 {
  background-color: #4478be;
}
.color-2 {
  background-color: #37b182;
}
.color-3 {
  background-color: var(--bg-color);
}

.color-4 {
  background-color: #f021b2;
}

.color-5 {
  background-color: #ec1839;
}
/* ********************
End Color-Bar
******************** */
